<div  class="row m-0 admin-panel">

  <div class="col-md-12 m-0 " style="background-color: #f8f9fa; padding: 10px; border-bottom: 1px solid #dee2e6;">
    <h2 class="text-center">Admin Panel</h2>
  </div>

<mat-nav-list class="mat-vertical-tab-list  " class="col-md-2 m-0">

<div class="border border-1 m-0" >
    <a mat-list-item [routerLink]="['admin_dashboard']"routerLinkActive="active-tab" routerLinkActive="router-link-active">Dashboard</a>
  <a mat-list-item [routerLink]="['admin_students']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Students</a>
  <a mat-list-item [routerLink]="['admin_batches']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Batches</a>
  <a mat-list-item [routerLink]="['admin_teachers']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Teachers</a>
  <a mat-list-item [routerLink]="['admin_chat_group']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Chat Group</a>

  <a mat-list-item [routerLink]="['admin_courses']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Courses</a>
  <a mat-list-item [routerLink]="['admin_fees']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Fees</a>
  <a mat-list-item [routerLink]="['admin_attendance']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Attendance</a>
  <a mat-list-item [routerLink]="['admin_exams']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Exams</a>
  <a mat-list-item [routerLink]="['admin_study']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Study Material</a>
  <a mat-list-item [routerLink]="['admin_settings']" routerLinkActive="active-tab" routerLinkActive="router-link-active">Settings</a>
</div>

</mat-nav-list>

 <div class="col-md-10" >
  <router-outlet></router-outlet>
 </div>
</div>
