<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    <h4 class="mb-4 text-center">Admin Login</h4>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          [(ngModel)]="user.email"
          required
          email
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          [(ngModel)]="user.password"
          required
        />
      </div>

      <button type="submit"  class="btn btn-primary w-100" [disabled]="!loginForm.valid">
        Login
      </button>
      <a class="d-flex justify-content-center mt-3" [routerLink]="['/admin_register_page']" routerLinkActive="router-link-active" > admin register </a>
    </form>

</div>
      <div *ngIf="process" class="spinner-border z-3 position-absolute " role="status">

  </div>


</div>
