<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MW</a>

    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
           <a [routerLink]="['/admin_login_page']" routerLinkActive="router-link-active"  ><button class="p-2 mx-1 btn btn-primary" > admin login </button></a>
           <a [routerLink]="['/login_page']" routerLinkActive="router-link-active"  ><button class="p-2 mx-1 btn btn-primary" > login/register </button></a>

        </li>
      </ul>

    </div>
  </div>
</nav>
