<app-navbar></app-navbar>
<app-home-corosol></app-home-corosol>
<div class="p-5" style="background-color: #d3d3e8;">
  <app-card [img_left] = false  align = "start"  [pannal_data]=pannal_data1 ></app-card>
</div>
<app-card-next></app-card-next>
<app-exam-cat></app-exam-cat>
<app-trust-student></app-trust-student>
<app-result-ban></app-result-ban>
<div class="mx-5 px-5" >
  <app-card [img_left]="false" align="start" back_color="#d3d3e8" class="" [pannal_data]=pannal_data2  ></app-card>
</div>

<app-study-resourc></app-study-resourc>
<app-footer></app-footer>



